/*body{
    overflow: hidden;
}*/

input[type="file"]#mi-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="mi-file"]{
    color: black;
    background-color: white;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    width: fit-content;
}

.dropdown-menu{
    background-color: grey;
}

.dropdown-item{
    background-color: grey;
    color: white;
}

.dropdown-item:hover{
    background-color: grey;
}

.nav-item:hover{
    background-color: #282C30;
}

.Editor { 
    position: relative;
    height: 330px;
}

.exitEditor{
    margin-top: 10px;
    position: relative;
    height: 220px;
}

.content{
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}

.reports{
    margin-top: 5px;
    text-align: center;
}

.descarga{
    width: 100%;
}

.card{
    height: 100%;
}